####################################
# LaTeX core auxiliary files
####################################
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind

####################################
# BibLaTeX / Biber
####################################
*.bcf
*.blg
*.bbl
*.run.xml

####################################
# Build artifacts
####################################
*.pdf
*.ps
*.dvi
*.xdv

####################################
# LaTeX temporary directories
####################################
_auto/
build/
out/
tmp/

####################################
# Editors / OS
####################################
.vscode/
.idea/
.DS_Store
Thumbs.db

####################################
# Latexmk
####################################
.latexmkrc
latexmk.out

####################################
# Minted / pygments
####################################
_minted*
*.pyg

####################################
# Backup files
####################################
*~
*.bak
*.backup

####################################
# Fonts cache (if any)
####################################
*.ttc.tmp
*.otf.tmp

####################################
# MacTeX / TeX Live junk
####################################
texput.log


# latexmkrc
.fdb_latexmk
.fls
